{% extends "base.html" %}


{% block header %}
    <p>Unused for now, this is hidden in CSS</p>
    <-- input type="submit" id="scan-networks" value="Scan for Wi-Fi Networks" / -->
    <-- input type="submit" id="ap-on" value="Station Mode: On" / -->
    <-- input type="submit" id="ap-off" value="Station Mode: Off" / -->
{% end %}




{% block content %}
	<div id="page1">
		<table class="page">
			<tr ><th class="roundtop">Device Wifi Setup</th></tr>
			<tr><td style="height: 100%; padding: 1em;">This will take you through the process of connecting your Mycroft device to a wireless network.<P>
					Click Next to begin.
					<p/>
				</td></tr>
		</table>
	</div>
	
	<div id="page2">
		<!-- <label id="conn_text"></label><br /> -->
		<!-- <input type="text" id="input_text"/> -->
		<!-- <input type="submit" id="button" value="Send" /> -->
		<!-- input type="submit" id="scan-networks" value="Scan for Wi-Fi Networks" /-->
		<!-- input type="submit" id="ap-on" value="Station Mode: On" /-->
		<!-- input type="submit" id="ap-off" value="Station Mode: Off" /-->

		<table class="page">
			<tr ><th class="roundtop" colspan="2">Choose Your Usual Wifi</th></tr>

			{% for network in ap['network']%}
				<tr><td>
					<table class="tblSSID">
						<tr><td onclick="SelectSSID('{{ network['ssid'] }}')">{{ network['ssid'] }}</td>
							<td align="right" onclick="SelectSSID('{{ network['ssid'] }}')">
								<img src="pixel.png" onload="this.onload=null; this.src=getImagePath('{{ network['quality'] }}');" />
							</td>
						</tr>
					</table>
				</td></tr>					
				
				<!-- Also available -->
				<!--    <td>{{ network['address'] }}</td> -->
				<!--    <td>{{ network['encrypted'] }}</td> -->
				<!--    <td>{{ network['frequency'] }}</td> -->
				<!--    <td>{{ network['signal'] }}</td>  -->
				<!--    <td>{{ network['channel'] }}</td> -->
				<!--    <td>{{ network['mode'] }}</td> -->
			{% end %}
		
		</table>
	</div>	
		
	<div id="page3">
		<table class="page">
			<tr ><th class="roundtop">Enter Password</th></tr>
			<tr><td style="height: 100%; padding: 1em;">
					Type the password for the '<span id='network'></span>' network, then click Connect to
					configure the device to use this and begin pairing:<p>
					
					<input type="password" id="pwd" name="input_text" onkeyup="passKeypress(event)" placeholder="password" autocomplete="off"/><p>
					
					Click Back to choose a different network.
				</td></tr>
		</table>
	</div>
	
	<div id="page4">
		<table class="page">
			<tr ><th class="roundtop">Connecting...</th></tr>
			<tr><td style="height: 100%; padding: 1em;">
					Please wait while the device connects to the new network.<P>
					
					In a few moments you will be connected to Cerberus to 
					enable your device.<P>
					
					<div class="center">
					<img src="spinner_blue.gif" width="48px"/>
					</div>
				</td></tr>
		</table>
	</div>
{% end %}




{% block footer %}
	<div id="footer1" class="center">
		<button onclick="NextPage(1);">Next</button>
	</div>
	
	<div id="footer2" class="center">
		<button onclick="location.reload()">Rescan</button>
	</div>
	
	<div id="footer3" class="center">
		<button onclick="NextPage(3,2);">Back</button>
		<button class="" id='btnConnect' onclick="SSIDToDevice();">Connect</button>
	</div>
	
	<div id="footer4" class="center">
	</div>
{% end %}

  
